<div ng-init="init()">
<h1>Slider Image Best Fit Size</h1>

<form ng-submit="saveSlider()">
	<div class="form-group col-sm-12" style="margin-top:5%;margin-left:-10%;">
		<label class="col-sm-2 control-label" style="text-align: right;">Height *</label>
			<div class="col-sm-3">
				<input class="form-control form-white" ng-model="slider.height" min="0" type="number" required>
			</div>
	</div>
	<div class="form-group col-sm-12" style="margin-left:-10%;">
		<label class="col-sm-2 control-label" style="text-align: right;">Width *</label>
			<div class="col-sm-3">
				<input class="form-control form-white" ng-model="slider.width" min="0" type="number" required>
			</div>
	</div>
	<button type="submit" class="btn btn-primary" style="margin-left:16%;margin-top:4%;">Save</button>
</form>

<h1 style="margin-top:5%;">Featured Image Best Fit Size</h1>

<form ng-submit="saveFeatured()">
	<div class="form-group col-sm-12" style="margin-top:5%;margin-left:-10%;">
		<label class="col-sm-2 control-label" style="text-align: right;">Height *</label>
			<div class="col-sm-3">
				<input class="form-control form-white" ng-model="featured.height" min="0" type="number" required>
			</div>
	</div>
	<div class="form-group col-sm-12" style="margin-left:-10%;">
		<label class="col-sm-2 control-label" style="text-align: right;">Width *</label>
			<div class="col-sm-3">
				<input class="form-control form-white" ng-model="featured.width" min="0" type="number" required>
			</div>
	</div>
	<button type="submit" class="btn btn-primary" style="margin-left:16%;margin-top:4%;">Save</button>
</form>

<h1 style="margin-top:5%;">Newsletter Date</h1>
<form ng-submit="saveDayOfMonth()">
<div class="form-group col-sm-12" style="margin-left:-6%;margin-top:4%;">
		<label class="col-sm-2 control-label" style="text-align: right;">Day of Month</label>
			<div class="col-sm-3">
				<select class="form-control form-white" ng-model="newsletterDay" required>
					<option value="">Select</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select>
			</div>
	</div>
	<div class="form-group col-sm-12" style="margin-left:-6%;margin-top:4%;">
		<label class="col-sm-2 control-label" style="text-align: right;">Time</label>
			<div class="col-sm-3">
																		<div class="prepend-icon">
								                              				<input type="text" name="timepicker" ng-model="newsletterTime" class="timepicker form-control hasDatepicker" placeholder="Choose a time..." data-format="am-pm" id="newsTime" required>
								                              				<i class="icon-clock"></i>
								                            			</div>
																	</div>
																</div>
				<button type="submit" class="btn btn-primary" style="margin-left:16%;margin-top:4%;">Save</button>
	</form>	
</div>