<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs" ng-init="formInit()" >
  <ul id="myTabs" class="nav nav-tabs" role="tablist">
      	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="graphicInfo()">Graphics</button></a></li>
       	<li  role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="premiumLeadsInfo()">Leads</button></a></li>
      	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="newsLetterSetting()">Email</button></a></li>
      	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="documentationSetting()">Documentation </button></a></li>
      	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="socialMedia()">Social Media Links</button></a></li>
       	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="autoPortal()">Auto Portals </button></a></li>
       	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="plansAndBill()">Plans & Billing </button></a></li>
       	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="domainDetails()">Domain </button></a></li>
       	<li role="presentation" class="active"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="form()">Form </button></a></li>
  </ul>
    <ul id="myTabs" class="nav nav-tabs" role="tablist"> 
      
      <li role="presentation" class="active"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true"><button type="button" class="btn btn-blue"  ng-click="form()">System</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue"  ng-click="webSite() ">Website</button></a></li>
    </ul>
	     
	     <div class="col-md-12" id="createLeadPopup">
	<div class="col-md-5" ></div>
	<div class="col-md-6"></div>
	<div class="col-md-1">
	
	<button type="button" id="comparisonSale" class="btn btn-blue"  ng-click="addNewForm()">Add New</button>
	</div>
	</div>
	     
	     <div  style="margin-top:5%;" ng-show="flagForChart1" ui-grid="gridOptions" style="height:500px;" ui-grid-edit ui-grid-pagination>
		   </div>
	     
	     <button id="createLeadPopup" data-toggle="modal" data-target="#completedPopup" style="display: none;"></button>
	
	
		<div class="modal fade" id="completedPopup" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                </div>
								                <form ng-submit="savedNewForm()">
								                <div class="modal-body">
								                <h4 class="modal-title">ADD NEW Form Name</h4>
								                    <div class="col-sm-6">
																<input type="text" name="title" ng-model="addform.name" placeholder="TITLE " required>
        											</div>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
								                    <button type="submit" class="btn btn-primary btn-embossed">Add</button>
								                </div>
								                </form>
								            </div>
								        </div>
								    </div>
	     
	     
	 <!-- <div style="display:none;" id="editPopup" data-toggle="modal" data-target="#editPopups"></div>
	<div class="modal fade" id="editPopups" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    <h4 class="modal-title"><strong>Name</strong></h4>
                </div>
			<div class="modal-body">
				<form ng-submit="Updatename(name)">
					
					
					<div class="col-md-12 form-group">
						<div class="col-md-4">
							<label> Lead Type</label>
						</div>
						<div class="col-md-6">
							<input type="text" name="Name" class="form-control"
								ng-model="name" id="name"
								required />
						</div>
					</div>
					
					<input type="submit" class="btn btn-primary btn-embossed"
						value="Edit Name">

				</form>
			</div>

		</div>
		
               
            </div>
        </div> -->
  </div> 

   
<style>
.ImageBorder
{
        border: 5px solid #0099FF;
}
.noClass{
	
}

table, th, td {
    border: 1px solid black;
}

.red { color: black;  background-color: #ffd3d3 !important; }

.nav-tabs > li > a::before {
	height: 0px;
}
.tab-content {
    background-color: #F1F1F1;
    border-top: 0px;
}
.nav.nav-tabs > li.active > a {
	background-color: #F1F1F1;
}

</style>	



