<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs" ng-init="webSiteinfo()" >
  <ul id="myTabs" class="nav nav-tabs" role="tablist">
      	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="graphicInfo()">Graphics</button></a></li>
       	<li  role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="premiumLeadsInfo()">Leads</button></a></li>
      	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="newsLetterSetting()">Email</button></a></li>
      	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="documentationSetting()">Documentation </button></a></li>
      	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="socialMedia()">Social Media Links</button></a></li>
       	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="autoPortal()">Auto Portals </button></a></li>
       	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="plansAndBill()">Plans & Billing </button></a></li>
       	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="domainDetails()">Domain </button></a></li>
       	<li role="presentation" class="active"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="form()">Form </button></a></li>
  </ul>
    <ul id="myTabs" class="nav nav-tabs" role="tablist"> 
      
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue"  ng-click="form()">System</button></a></li>
      <li role="presentation" class="active"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true"><button type="button" class="btn btn-blue" ng-click="webSite() " >Website</button></a></li>
    </ul>
	     
	     <div class="col-md-12" id="createLeadPopup">
	<div class="col-md-5" ></div>
	<div class="col-md-6"></div>
	<div class="col-md-1">
	
	<button type="button" id="comparisonSale" class="btn btn-blue"  ng-click="addNewFormWebSite()">Add New Form</button>
	</div>
	</div>
	     
	      <div  style="margin-top:5%;" ng-show="flagForChart1" ui-grid="gridOptions" style="height:500px;" ui-grid-edit ui-grid-pagination>
		   </div> 
	     
	     <button id="createLeadPopup" data-toggle="modal" data-target="#completedPopup" style="display: none;"></button>
	
	
		<div class="modal fade" id="completedPopup" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                </div>
								                <form ng-submit="savedNewFormWebsite()">
								                <div class="modal-body">
								                <h4 class="modal-title" style="margin-bottom:-20px;" >Add New Form </h4>
								                    <div class="col-sm-6">
																<input type="text" style="margin-left:150px;" name="title" ng-model="website.title" placeholder="TITLE " required>
        											</div>
        											<div class="form-group col-sm-12">
												  	 <div class="col-sm-6">
												  	 <h4 class="modal-title" style="margin-top:18px;margin-left:-30px">Form Type </h4>
												  	 	<select  class="form-control" style="margin-top:-30px;margin-left:135px;margin-bottom:30px;" id="form_type" ng-model=" website.form_type"  ng-change="selectOption() "  required>
													          	<option value="">---Select---</option>
													          	<option value="Contact Form">Contact Form</option>
													            <option value="Call to Action">Call to Action</option>
													            <option value="Survey">Survey</option>
													           
													    </select>
												  	 </div>
												  	 <div class="col-sm-6" ng-if="showOtherFild == 1">
												  	 <select  class="form-control" style="margin-top:64px;margin-left:-134px;margin-bottom:85px;width:239px;" ng-model=" website.lead_name"   required>
													          	
													          	<option ng-repeat="item in leadtypeObjList" ng-if="item.leadName != 'Request More Info' && item.leadName != 'Request For Appointment'  && item.leadName != 'Contact Us'" value="{{item.leadName}}">{{item.leadName}}</option>
													            
													           
													    </select>
												  </div></div>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
								                    <button type="submit" class="btn btn-primary btn-embossed">Add</button>
								                </div>
								                </form>
								            </div>
								        </div>
								    </div>
	     
								     <div style="display:none;" id="outcome" data-toggle="modal" data-target="#modal-outcome"></div>
							<div class="modal fade" id="modal-outcome" tabindex="-1" role="dialog" aria-hidden="true">
							        <div class="modal-dialog">
							            <div class="modal-content">
							                <div class="modal-header">
							                  
							                </div>
							                <form ng-submit="updateNewFormWebsite()">  
							                    <h4 class="modal-title" style="margin-left:16px;"><strong>OutComes</strong></h4>
							               <div class="col-sm-6" ">
												  	 <select  class="form-control"  ng-model=" website.outcome"   required>
													          	<option value="">---Select---</option>
													          	<option  value="New Customer Request"> New Customer Request</option>
													            <option  value=" Generate PDF">  Generate PDF</option>
													 </select>
											</div>
							               <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal" style="margin-top:50px;">Close</button>
								                    <button type="submit" class="btn btn-primary btn-embossed" style="margin-top:50px;">Add</button>
								           </div>
							            </form>
							            </div>
							        </div>
							</div>
	     
	     
	 <div style="display:none;" id="editPopup" data-toggle="modal" data-target="#editPopups"></div>
	<div class="modal fade" id="editPopups" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    <h4 class="modal-title"><strong>Name</strong></h4>
                </div>
			<div class="modal-body">
				<form ng-submit="Updatename(name)">
					
					
					<div class="col-md-12 form-group">
						<div class="col-md-4">
							<label> Lead Type</label>
						</div>
						<div class="col-md-6">
							<input type="text" name="Name" class="form-control"
								ng-model="name" id="name"
								required />
						</div>
					</div>
					
					<input type="submit" class="btn btn-primary btn-embossed"
						value="Edit Name">

				</form>
			</div>

		</div>
		
               
            </div>
        </div>
  </div> 

   
<style>
.ImageBorder
{
        border: 5px solid #0099FF;
}
.noClass{
	
}

table, th, td {
    border: 1px solid black;
}

.red { color: black;  background-color: #ffd3d3 !important; }

.nav-tabs > li > a::before {
	height: 0px;
}
.tab-content {
    background-color: #F1F1F1;
    border-top: 0px;
}
.nav.nav-tabs > li.active > a {
	background-color: #F1F1F1;
}

</style>	



