<!-- <ul class="nav nav-tabs nav-justified">
    <li ng-repeat="tab in tabs">
        <a ng-click="onClickTab(tab)">{{tab.title}}</a>
    </li>
</ul>
<div id="mainView">
    <div ng-include="currentTab"></div>
</div>

<script type="text/ng-template" id="saveform.html">
        
</script>
<script type="text/ng-template" id="builder.html">
    <div class="row">
        <div>
            <a ui-sref="formbuilder">Create New</a>
        </div>

        <diV>
            <div ui-grid="gridOptions" class="grid"></div>
        </div>
    </div>
    
</script> -->

<div class="row">
        <div>
            <a ui-sref="formAction">Create New</a>
            <a ui-sref="repeated_section">Create Repeated Sections</a>
        </div>

        <diV>
            <div ui-grid="gridOptions" class="grid"></div>
        </div>
    </div>


