<form>
	<ul id = "myTab" class = "nav nav-tabs">
	   <li class = "active">
	      <a href = "#textareatab" data-toggle = "tab" style= "padding-left: 5px; width: 75px;">
	         Properties
	      </a>
	   </li>
	   
	   <li><a href = "#textarea_validation" data-toggle = "tab">Validation</a></li>
		 <li><a href = "#textarea_logic" data-toggle = "tab">Logic</a></li>
	</ul>
<div id = "TextAreaTabContent" class = "tab-content">
		 <div class = "tab-pane fade in active" id = "textareatab">
            <div class="form-group">
                <label class='control-label'>Label</label>
                <input type='text' ng-model="label" validator="[required]" class='form-control'/>
            </div>
            <div class="form-group">
                <label class='control-label'>Name</label>
                <input type='text' ng-model="key" class='form-control'/>
            </div>
           
            
            <div class="form-group" ng-if="validationOptions.length > 0">
                <label class='control-label'>Validation</label>
                <select ng-model="$parent.validation" class='form-control' ng-options="option.rule as option.label for option in validationOptions"></select>
            </div>
        </div>

	    <div class = "tab-pane fade" id = "textarea_validation">
			<ng-include src = "'src/template/validation.html'"></ng-include>
		</div>
		<div class = "tab-pane fade" id = "textarea_logic">
			<ng-include src = "'src/template/logic.html'"></ng-include>
		</div>
	</div>

	<hr/>
	<div class='form-group'>
	    <input type='submit' ng-click="popover.save($event)" class='btn btn-primary' value='Save'/>
	    <input type='button' ng-click="popover.cancel($event)" class='btn btn-default' value='Cancel'/>    
	    <input type='button' ng-click="popover.remove($event)" class='btn btn-danger' value='Delete'/>
	</div>


</form>
<script>
$('.nav-tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
});
</script>