<form>
  <div role="tabpanel">
    <ul class="nav nav-justified nav-tabs" role="tablist" style="margin-left:-10px">
      <li role="presentation" class="active">
        <a href="{{'#properties' + date + index}}" aria-controls="{{'properties' + date + index}}" role="tab" data-toggle="tab">
        Properties
        </a>
      </li>
      <li role="presentation">
        <a href="{{'#validations' + date + index}}" aria-controls="{{'validations' + date + index}}" role="tab" data-toggle="tab">
        Validations
        </a>
      </li>
      <li role="presentation">
        <a href="{{'#logic' + date + index}}" aria-controls="{{'logic' + date + index}}" role="tab" data-toggle="tab">Logic</a>
      </li>
      <li role="presentation">
        <a href="{{'#points' + date + index}}" aria-controls="{{'points' + date + index}}" role="tab" data-toggle="tab">Points</a>
      </li>
    </ul>
    <!-- Tab panes -->        
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="{{'properties' + date + index}}">
        <div class="form-group m-t-sm">        
          <label class='control-label'>Label</label>
          <input type='text' ng-model="label" validator="[required]" class='form-control'/>
        </div>
        <div class="form-group">
          <label class='control-label'>Description</label>
          <input type='text' ng-model="description" class='form-control'/>
        </div>
        <div class="checkbox">
          <label><input type='checkbox'  ng-model="readOnly" />Read Only</label>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="{{'validations' + date + index}}">
        <div class="checkbox">
          <label><input type='checkbox'  ng-model="required"/>Required</label>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="{{'logic' + date + index}}">
        <div class="form-group m-t">
          <select class="form-control custom-m-b" ng-model="formObject.logic.action" ng-options="action for action in actions">
          </select>
          <p> this element if</p>
          <component-selector></component-selector>
          <select class="form-control custom-m-b" ng-model="formObject.logic.comparator" ng-options="comparator for comparator in comparatorChoices">   
          </select> 
          <input type="text" ng-model="formObject.logic.value" class="form-control" placeholder="Value">   
          <button type="button" ng-click="resetLogic()" class="btn btn-default pull-right">Reset</button> 
          <br>    
        </div>
      </div>
      <div role="tabpanel" class="tab-pane p-t-n" id="{{'points' + date + index}}">
        <div class="form-group" ng-if="formObject.pointRules.length > 0">
          <label class="control-label m-t-c--5">Active Rules</label>  
          <div class="m-t-xs" ng-repeat="rule in formObject.pointRules"> 
            Add <span class="label label-primary">{{rule.points}}</span> points if this field <span class="label label-primary">{{rule.predicate | predicate}}</span>&nbsp;<span class="label label-primary" ng-if="rule.predicate !== 'null' && rule.predicate !== 'not_null'">{{rule.value}}</span> <a ng-click="removeRule(rule)" class="pull-right btn btn-sm btn-link hover-dark-grey-link btn-xs"><i class="fa fa-times-circle"></i></a>    
          </div>
        </div>
        <div class="form-group custom-m-b">
          <div class="input-group">        <span class="input-group-addon add-points">Add</span>        <input type="text" class="form-control" ng-model="newRule.points"> 
            <span class="input-group-addon add-points">points</span>      
          </div>
        </div>
        <div class="form-group custom-m-b">
          <div class="input-group">      <span class="input-group-addon add-points">if this field</span>      <select ng-model="newRule.predicate" ng-options="predicate.value as predicate.label for predicate in predicates" class="form-control"></select>    </div>
        </div>
        <div class="input-group">    <input ng-readonly="newRule.predicate === 'null' || newRule.predicate === 'not_null'" ng-model="newRule.value" type="text" class="form-control" placeholder="value">    <span class="input-group-btn">      <button ng-click="addRule()" class="btn btn-primary" type="button">+</button>    </span>  </div>
        <p class="text-danger">{{rulesErrorMessage}}</p>
      </div>
    </div>
  </div>
  <div class="form-group" ng-if="validationOptions.length > 0">     
    <label class='control-label'>Validation</label>        <select ng-model="$parent.validation" class='form-control' ng-options="option.rule as option.label for option in validationOptions"></select>    
  </div>
  <hr/>
  <div class='form-group'>        <input type='button' ng-click="popover.remove($event)" class='btn btn-danger fa h-c-34 pull-right m-b m-l-xs' value='&#xf1f8'/>        <input type='submit' ng-click="popover.save($event)" class='btn btn-primary h-c-34 pull-right m-b fa' value='&#xf0c7'/>        <input type='button' ng-click="popover.cancel($event)" class='btn btn-white h-c-34 pull-left m-b' value='Cancel'/>    </div>
</form>