    
 <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class=""><a  role="tab" data-toggle="tab" aria-controls="profile" aria-expanded="true"><button type="button" class="btn btn-blue" ng-click="requestMore()">Request More Info</button></a></li>
      <li role="presentation" class="active"><a id="home-tab" role="tab" id="profile-tab" data-toggle="tab" aria-controls="home" aria-expanded="false"><button type="button" class="btn btn-blue">Schedule Test Drive</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="tradeIn()">Trade In Inquiries</button></a></li>
      <li role="presentation" class="" ng-if="userRole == 'Manager'"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goPremium()">Premium</button></a></li>
    </ul>
	    <div id="myTabContent" class="tab-content">
	      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
	        <h2><b>Schedule Test Drive</b></h2>
			<div ui-grid="gridOptions" style="height:500px;" ui-grid-edit ui-grid-pagination>
				</div> 
	      </div>
	      
	    </div>
  </div>
  
  <!-- <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title">Confirm date and time</h4>
								                </div>
								                <div class="modal-body">
								                <form ng-submit="saveConfirmData()">
								                   <div class="form-group col-sm-12">
													<label class="col-sm-2 control-label" style="text-align: right;">Email</label>
														<div class="col-sm-5">
															<input class="form-control form-white" style="" ng-model="scheduleTestData.email" type="text" required>
														</div>
													</div>
													<div class="form-group col-sm-12">
													<label class="col-sm-2 control-label" style="text-align: right;">Date</label>
														<div class="col-sm-5">
															<input data-provide="datepicker" id="cnfDate" class="form-control input-sm" ng-model="scheduleTestData.confirmDate" data-date-format="mm/dd/yyyy" required>
														</div>
													</div>
													<div class="form-group col-sm-12">
													<label class="col-sm-2 control-label" style="text-align: right;">Time</label>
														<div class="col-sm-5">
															<div class="input-group bootstrap-timepicker timepicker">
													            <input id="timepicker1" type="text" ng-model="scheduleTestData.confirmTime" class="form-control input-small">
													            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
													        </div>
														</div>
													</div>
													
														<input type="submit" class="btn btn-default" style="margin-left:29%;margin-top:3%;">
													</form>
								                </div>
								                
								            </div>
								        </div>
								    </div> -->
  
  
<style>
.red { color: black;  background-color: #ffd3d3 !important; }
.nav-tabs > li > a::before {
	height: 0px;
}
.tab-content {
    background-color: #F1F1F1;
    border-top: 0px;
}
.nav.nav-tabs > li.active > a {
	background-color: #F1F1F1;
}
</style>