<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
	<!-- <ul id="myTabs" class="nav nav-tabs" role="tablist">
		<li role="presentation" class=""><a role="tab" data-toggle="tab"
			aria-controls="profile" aria-expanded="false"><button
					type="button" class="btn btn-blue" ng-click="goToVisitors()">Visitors</button></a></li>
		<li role="presentation" class=""><a role="tab" id="profile-tab"
			data-toggle="tab" aria-controls="profile" aria-expanded="false"><button
					type="button" class="btn btn-blue" ng-click="goToActions()">Actions</button></a></li>
		<li role="presentation" class=""><a role="tab" id="profile-tab"
			data-toggle="tab" aria-controls="profile" aria-expanded="false"><button
					type="button" class="btn btn-blue" ng-click="goToBasics()">Basics</button></a></li>
		<li role="presentation" class=""><a role="tab" id="profile-tab"
			data-toggle="tab" aria-controls="profile" aria-expanded="false"><button
					type="button" class="btn btn-blue" ng-click="goToSearches()">Searches</button></a></li>
		<li role="presentation" class=""><a role="tab" id="profile-tab"
			data-toggle="tab" aria-controls="profile" aria-expanded="false"><button
					type="button" class="btn btn-blue" ng-click="goToRefferers()">Refferers</button></a></li>
		<li role="presentation" class=""><a role="tab" id="profile-tab"
			data-toggle="tab" aria-controls="profile" aria-expanded="false"><button
					type="button" class="btn btn-blue" ng-click="goToContent()">Content</button></a></li>
		<li role="presentation" class="active"><a id="home-tab"
			role="tab" id="profile-tab" data-toggle="tab" aria-controls="home"
			aria-expanded="true"><button type="button" class="btn btn-blue"
					ng-click="goToSessionsData()">Sessions Data</button></a></li>
	</ul> -->
	
	<div id="myTabContent" class="tab-content">
		<div role="tabpanel" class="tab-pane fade active in" id="home"
			aria-labelledby="home-tab">
			<div class="col-xlg-12 col-lg-12">
				<div class="row">
					<canvas id="line-chart" class="full"></canvas>
				</div>
			</div>
			<div class="col-xlg-12 col-lg-12">
			<label></label>
			</div>
			<div class="col-xlg-12 col-lg-12">
				<div class="row">
					<div class="col-xlg-2 col-lg-2">
					
					  <div style="background-color: white;">
					    <h3>
									<strong>Users</strong>
								</h3>
					    <div style="font-size: 35px;">{{users}}</div>	
						<canvas id="line-chart1" class="full"></canvas>
					  </div>	
					</div>
					<div class="col-xlg-2 col-lg-2">	
						<div style="background-color: white;">
						<h3>
									<strong>Pageview</strong>
								</h3>
					    <div style="font-size: 35px;">{{pageview}}</div>	
						<canvas id="line-chart2" class="full"></canvas>
					  </div>
					</div>
					<div class="col-xlg-2 col-lg-2">	
						<div style="background-color: white;">
						<h3>
									<strong>Avg. Session Duration</strong>
								</h3>
					    <div style="font-size: 35px;">{{avgSessDur}}</div>	
						<canvas id="line-chart3" class="full"></canvas>
					  </div>
					</div>
					<div class="col-xlg-2 col-lg-2">
							<div style="background-color: white;">
						<h3>
									<strong>engine sound</strong>
								</h3>
					    <div style="font-size: 35px;">{{enginesound}}</div>	
						<canvas id="line-chart4" class="full"></canvas>
					  </div>
					</div>
					<div class="col-xlg-2 col-lg-2">
						<div class="panel no-bd bd-3 panel-stat">
							<div class="panel-header">
								<h3>
									<i class="icon-graph"></i> <strong>Visitor</strong>
								</h3>
							</div>
							<div class="panel-stat-chart" style="height: 178px;">
								<canvas id="pie-chart visitorInfo"
									style="margin-top: 10px; margin-left: -27px;"></canvas>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
			<div class="col-lg-12">
				<div class="col-lg-12">
						<label></label>
				</div>
				<div class="col-lg-12">
					<label></label>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="row">
					<div class="col-sm-2">
						<div class="panel no-bd bd-3 panel-stat">
							<div class="panel-header">
								<h3>
									<i class="icon-graph"></i> <strong>Request more info</strong>
								</h3>
							</div>
							<div class="panel-stat-chart" style="height: 178px;">
								<canvas id="pie-chart requestmoreinfo"
									style="margin-top: 10px; margin-left: -27px;"></canvas>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="panel no-bd bd-3 panel-stat">
							<div class="panel-header">
								<h3>
									<i class="icon-graph"></i> <strong>Schedule test drive</strong>
								</h3>
							</div>
							<div class="panel-stat-chart" style="height: 178px;">
								<canvas id="pie-chart scheduletest"
									style="margin-top: 10px; margin-left: -27px;"></canvas>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="panel no-bd bd-3 panel-stat">
							<div class="panel-header">
								<h3>
									<i class="icon-graph"></i> <strong>Trade-In Appraisal</strong>
								</h3>
							</div>
							<div class="panel-stat-chart" style="height: 178px;">
								<canvas id="pie-chart trade"
									style="margin-top: 10px; margin-left: -27px;"></canvas>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="panel no-bd bd-3 panel-stat">
							<div class="panel-header">
								<h3>
									<i class="icon-graph"></i> <strong>Email to friend</strong>
								</h3>
							</div>
							<div class="panel-stat-chart" style="height: 178px;">
								<canvas id="pie-chart emailtofriend"
									style="margin-top: 10px; margin-left: -27px;"></canvas>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="panel no-bd bd-3 panel-stat">
							<div class="panel-header">
								<h3>
									 <strong>Followers</strong>
								</h3>
							</div>
							<div class="panel-stat-chart" style="height: 178px;text-align: center;">
							<h1 style="font-size: 107px;">{{followers}}</h1>
								<!-- <canvas id="pie-chart trade"
									style="margin-top: 10px; margin-left: -27px;"></canvas> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				
				 <div class="row">
            <div class="col-md-4">
              <div class="panel">
                <div class="panel-header">
                  <h3><i class="icon-list"></i> <strong>Demographics</strong></h3>
                  
                </div>
                <div class="panel-content widget-news">
                  <div class="withScroll" data-height="400">
                  <hr style="margin-top: 0px;margin-bottom: 0px;">
                    <a ng-click="showlanguageCount()">
                      <div ng-click="selectedTab=1;"  ng-class="selectedTab==1 ? 'media active':'media'">
                        <div class="media-body">
                          
                          <div>
                            <h4 style="color: deepskyblue;margin-left: 11px;">Language</h4>
                          </div>
                        </div>
                      </div>
                    </a>
                     <hr style="margin-top: 0px;margin-bottom: 0px;">
                    <a ng-click="showBrowerCount()">
                      <div ng-click="selectedTab=2;"  ng-class="selectedTab==2 ? 'media active':'media'">
                        <div class="media-body">
                         
                          <div>
                            <h4 style="color: deepskyblue;margin-left: 11px;">Browser</h4>
                          </div>
                        </div>
                      </div>
                    </a>
                    <hr style="margin-top: 0px;margin-bottom: 0px;">
                    <a ng-click="showLocationCount()">
                      <div ng-click="selectedTab=3;"  ng-class="selectedTab==3 ? 'media active':'media'">
                        <div class="media-body">
                         
                          <div>
                            <h4 style="color: deepskyblue;margin-left: 11px;">City, Country</h4>
                          </div>
                        </div>
                      </div>
                    </a>
                    <hr style="margin-top: 0px;margin-bottom: 0px;">
                    <a ng-click="showOperatingCount()">
                      <div ng-click="selectedTab=4;"  ng-class="selectedTab==4 ? 'media active':'media'">
                        <div class="media-body">
                         
                          <div>
                            <h4 style="color: deepskyblue;margin-left: 11px;">Operating System</h4>
                          </div>
                        </div>
                      </div>
                    </a>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8" ng-if="langshow == 1">
              <div class="panel">
                <div class="panel-header panel-controls">
                  <h3><i class="icon-star"></i> <strong>Language</strong></h3>
                </div>
                <div class="panel-content widget-table">
                  <div class="withScroll" data-height="400">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Language</th>
                          <th>Sessions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key, value) in langmap">
                          <td>{{key}}</td>
                          <td><span class="p-l-10 c-green">{{value}}</span></td>
                          
                        </tr>
                                             
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8" ng-if="locationshow == 1">
              <div class="panel">
                <div class="panel-header panel-controls">
                  <h3><i class="icon-star"></i> <strong>Country, City</strong></h3>
                </div>
                <div class="panel-content widget-table">
                  <div class="withScroll" data-height="400">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>City, Country</th>
                          <th>Sessions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key, value) in location">
                          <td>{{key}}</td>
                          <td><span class="p-l-10 c-green">{{value}}</span></td>
                          
                        </tr>
                                             
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8" ng-if="operatingshow == 1">
              <div class="panel">
                <div class="panel-header panel-controls">
                  <h3><i class="icon-star"></i> <strong>Operating System</strong></h3>
                </div>
                <div class="panel-content widget-table">
                  <div class="withScroll" data-height="400">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Operating System</th>
                          <th>Sessions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key, value) in operatingSystem">
                          <td>{{key}}</td>
                          <td><span class="p-l-10 c-green">{{value}}</span></td>
                          
                        </tr>
                                             
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-md-8" ng-if="webBroshow == 1">
              <div class="panel">
                <div class="panel-header panel-controls">
                  <h3><i class="icon-star"></i> <strong>Web Browser</strong></h3>
                </div>
                <div class="panel-content widget-table">
                  <div class="withScroll" data-height="400">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Web Browser</th>
                          <th>Sessions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key, value) in webBrosmap">
                          <td>{{key}}</td>
                          <td><span class="p-l-10 c-green">{{value}}</span></td>
                         
                        </tr>
                        <!-- <tr>
                          <td>online.com</td>
                          <td><span class="c-primary">$19.99</span></td>
                          <td>
                            <div class="badge badge-success">approved</div>
                          </td>
                        </tr> -->
                        
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
			
			</div>
		</div>
	</div>
</div>
<style>
.red {
	color: black;
	background-color: #ffd3d3 !important;
}

.nav-tabs>li>a::before {
	height: 0px;
}

.tab-content {
	background-color: #F1F1F1;
	border-top: 0px;
}

.nav.nav-tabs>li.active>a {
	background-color: #F1F1F1;
}

.active{
	background-color: #eaeaea !important;
}


</style>