<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs" ng-init="initFunction()">
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a role="tab" id="home-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToVisitors()">WebSite</button></a></li>
       <li role="presentation" class=""><a id="profile-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><button type="button" class="btn btn-blue" ng-click="goToVehicleInfo()">Inventory</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToActions()">Leads</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToSearches()">Staff</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToRefferers()">Financial</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToSearches()">Marketing</button></a></li>
     </ul>
     <ul id="myTabs" class="nav nav-tabs" role="tablist"> 
      <li role="presentation" class="active"><a id="home-tabs" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><button type="button" class="btn btn-blue" ng-click="goToVisitors()">Visitors</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tabs" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToActions()">Actions</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToheatMapInfo()">HeatMap</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToVideoAnalytics()" >Video & Audio</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue"  ng-click="goToPlatformsInfo()">Platforms</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue"  ng-click="goToContentInfo()">Content</button></a></li>
    </ul>
	    <div id="myTabContent" class="tab-content">
	      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tabs">
	      <div ng-show="flagForChart1" class="col-sm-12">
	        	 	 <a class="btn btn-blue" ng-click="setShowVisitorsInfoType('Visitor log')" style="width: 8%;">Visitor log</a><a class="btn btn-blue" ng-click="setShowVisitorsInfoType('Action log')" style="width: 8%;">Action log</a><a class="btn btn-blue" ng-click="setShowVisitorsInfoType('Engagement_action')" style="width: 13%;">Engagement(action)</a><a class="btn btn-blue" ng-click="setShowVisitorsInfoType('Engagement_time')" style="width: 13%;">Engagement(time)</a><a class="btn btn-blue" ng-click="setShowVisitorsInfoType('Active_visitors')" style="width: 15%;">Most active visitors</a><a class="btn btn-blue" ng-click="setShowVisitorsInfoType('Traffic_scoures')" style="width: 12%;">Traffic scoures</a>   
	      </div>
	      <div ng-show="flagForChart1"  class="col-sm-12">
	      		<div class="col-sm-2">
									     	<label>Start Date</label>
									     		<input data-provide="datepicker" id="cnfstartDateValue" name="startDateValue" class="form-control" ng-model="startDate" data-date-format="yyyy-mm-dd" required>
									     		
									     </div>
									     <div class="col-sm-2">
									     	<label>End Date</label>
									     		<input data-provide="datepicker" id="cnfendDateValue" name="endDateValue" class="form-control" ng-model="endDate" data-date-format="yyyy-mm-dd" required>
									     </div>
									 <div class="col-sm-2">
									 	<a class="btn btn-blue" ng-click="DateWiseFind()" style="width: 40%;margin-top: 25px;">OK</a>
									 </div>    
	      </div>
	      <h2 ng-show="flagForChart1" >{{typeOfInfo}}</h2>
	      <div ng-show="flagForChart1" ui-grid="gridOptions" style="height:500px;" ui-grid-edit ui-grid-pagination>
				</div> 
			<div class="col-sm-12">
				<div ng-show="flagForChart" id="functional-chart" style="height:240px"></div>
			</div>	
				
				
	      </div>
	      
	      
	     
	 </div>
	</div>
	<div class="col-sm-12" >
	<h2> Visitor details </h2>
	<hr style="border-color: black;">
	<div class="col-sm-6">
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>Visits:</label>
	</div>
	<div class="col-sm-4">
	<a>{{visitorInfo.totalVisits}}</a>
	</div>
	</div>
	
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>Unique ID:</label>
	</div>
	<div class="col-sm-2">
	<a>{{visitorInfo.uid}}</a>
	</div>
	<div class="col-sm-1" style="color: red">(tag)</div>
	</div>
	
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>IP Address:</label>
	</div>
	<div class="col-sm-4">
	<a>{{visitorInfo.ipAddress}} &nbsp;&nbsp;&nbsp; (ARIN/RIPE)</a>
	</div>
	<div class="col-sm-1" style="color: red">(tag)</div>
	</div>
	
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>Locale:</label>
	</div>
	<div class="col-sm-5">
	<a>{{visitorInfo.geolocation}}&nbsp;/&nbsp;{{visitorInfo.language}}</a>
	</div>
	</div>
	
	
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>Organization:</label>
	</div>
	<div class="col-sm-5">
	<a>{{visitorInfo.organization}}&nbsp;/&nbsp;{{visitorInfo.hostname}}</a>
	</div>
	</div>
	
	
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>Platform:</label>
	</div>
	<div class="col-sm-6">
	<a>{{visitorInfo.webBrowser}}&nbsp;/&nbsp;{{visitorInfo.operatingSystem}}&nbsp;/&nbsp;{{visitorInfo.screenResolution}}</a>
	</div>
	</div>
	
	
	
	
	
	</div>
	
	<div class="col-sm-6">
	<div class="col-sm-12" > 
		 <div id="map-canvas" style="width:100%; height:390px"></div> 
	</div>
	</div>
	</div>
	
	
	
	
	
	
    <div class="col-sm-12">
	<h2> This Visit </h2>
	<hr style="border-color: black;">
	<div class="col-sm-6">
	
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>Date:</label>
	</div>
	<div class="col-sm-6">
	<a>{{visitorInfo.timePretty}}</a>
	</div>
	</div>
	
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>Session:</label>
	</div>
	<div class="col-sm-6">
	<a>{{visitorInfo.timeTotal}},{{visitorInfo.actions}} actions </a>
	</div>
	</div>
	
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>Landing Page:</label>
	</div>
	<div class="col-sm-8">
	<a>{{visitorInfo.landingPage}}</a>
	</div>
	</div>
	
	
	<div  class="col-sm-12">
	<div class="col-sm-3">
	<label>Referrer type:</label>
	</div>
	<div class="col-sm-6">
	<a>{{visitorInfo.referrerType}}</a>
	</div>
	</div>
	
	
	</div>
	
	<div class="col-sm-6">
	
	</div>
	
	
	
	</div>
		




<style>



   .ui-grid-row, .ui-grid-cell {
  min-height: 42px !important;
}

.red { color: black;  background-color: #ffd3d3 !important; }

.nav-tabs > li > a::before {
	height: 0px;
}
.tab-content {
    background-color: #F1F1F1;
    border-top: 0px;
}
.nav.nav-tabs > li.active > a {
	background-color: #F1F1F1;
}



</style>      