<h1>Create Blog</h1>
<form ng-submit="saveBlog()" style="margin-top:5%;">
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Title *</label>
	<div class="col-sm-10">
		<input class="form-control form-white" ng-model="blogData.title" type="text" required>
	</div>
</div>

<div class="form-group col-sm-12" style="margin-top:3%;">
<label class="col-sm-2 control-label" style="text-align: right;">Description *</label>
	<div class="col-sm-10">
		<textarea class="form-control form-white" ng-model="blogData.description" rows="10" required></textarea>
	</div>	
	<p style="color:red;margin-left: 20%;"><b>{{descMsg}}</b></p>
</div>

<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Upload Image *</label>
	<div class="col-sm-4">
		<input class="form-control" type="file" style="margin-top:10%;" accept="image/*" name="logoFile" ng-file-select="onLogoFileSelect($files)" required>
	</div>
	<div>
		<img alt="" src="http://glider-autos.com/glivrImg/images{{blogImageUrl}}" ng-show="blogImageUrl != ''" height="150" width="250">
	</div>
</div>

<div class="form-group col-sm-12" style="margin-top:3%;">
<label class="col-sm-2 control-label" style="text-align: right;">Video URL</label>
	<div class="col-sm-10">
		<textarea class="form-control form-white" ng-model="blogData.videoUrl" rows="5" placeholder='e.g. <iframe width="560" height="315" src="https://www.youtube.com/embed/EnG5ZIVfki8" frameborder="0" allowfullscreen></iframe>'></textarea>
	</div>
	<p style="margin-left:20%;"><b>(Please add embedded url)</b></p>	
</div>

<div class="form-group col-sm-12" style="margin-top:3%;">
<label class="col-sm-2 control-label" style="text-align: right;">Posted by *</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="blogData.postedBy" type="text" required>
	</div>
</div>

<button type="submit" class="btn btn-primary" style="margin-top:3%;margin-left:20%;">Publish</button>
</form>