  
  <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs" ng-init="init()">
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
    	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="gotoProfile()">Dealer's Profile</button></a></li>
      	<li role="presentation" class="active"><a id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><button type="button" class="btn btn-blue">Location</button></a></li>
    	<li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToDeactivateLoaction()">Deactivate Location</button></a></li>
    </ul>
	    <div id="myTabContent" class="tab-content">
	      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
	      	<div>
		        <h2><b>Create Location</b></h2>
		        <a class="btn btn-primary" style="margin-left: 83%;" data-toggle="modal" data-target="#modal-basic" ng-click="createNewLocation()">Create New Location</a>
	        </div>
			<div ui-grid="gridOptions" style="height:500px;" ui-grid-edit ui-grid-pagination>
				</div> 
	      </div>
	      
	    </div>
  </div>
  
  <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 1295px;">
            <div class="modal-content">
            <form name="locationFrm" ng-submit="saveImage()">
                <div class="modal-header">
                    <button type="button" class="close" id = "btnClose" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    
                </div>
                
                <div class="modal-body">
                    <div class="form-group col-sm-12">
                          
                    <div class="form-group col-sm-6">
              
                    <h4 class="modal-title"><strong>Create Location</strong></h4>
                   		<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Location *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.locationName"  required>
								</div>
						</div>
						
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Email *</label>
								<div class="col-sm-6">
									<input id="locationEmail" class="form-control form-white" type="email" ng-model="user.locationemail" ng-blur="checkEmail('create')"  required>
								</div>
						</div>
						<p style="color:red;"><b>{{emailMsg}}</b></p>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Phone *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.locationphone"  required>
								</div>
						</div>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Address *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.locationaddress"  required>
								</div>
						</div>
						
						<label class="col-sm-3 control-label" style="text-align: right;">Location Photo </label>
                   <!-- <input class="form-control" type="file" style="margin-left: 29%;width: 42%;" accept="image/*" name="logoFile" ng-file-select="onLogoFileSelect($files)" required=""> -->
                   <p><!-- <label>&{field.name}</label> --><!-- <span id="preview"> --></span>
 	               <input class="form-control" type="file" id="file" style="margin-left: 29%;width: 42%;" accept="image/*" ng-file-select="onLogoFileLocationSelect($files)">
                   <span id="preview" style="margin-top: 20px;width: 108px;margin-left: 23px;"><img style="width: 100px;margin-left: 142px;margin-top: 20px;" src={{imgLocation}}></span>
                  </p>
                   
				</div>
				<div class="form-group col-sm-6">
				<h4 class="modal-title"><strong>Create Manager</strong></h4>
                   		<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">First Name *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.firstName"  required>
								</div>
						</div>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Last Name *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.lastName"  required>
								</div>
						</div>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Email *</label>
								<div class="col-sm-6">
									<input id="userEmail" class="form-control form-white" type="email" ng-model="user.email" ng-blur="checkEmail('create')"  required>
								</div>
						</div>
						<p style="color:red;"><b>{{emailMsg}}</b></p>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Phone *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.phone"  required>
								</div>
						</div>
						<!-- <div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Role *</label>
								<div class="col-sm-6">
									<select class="form-control form-white" id="userType" ng-model="user.userType" required>
                                    <option value="">Select</option>
                                    <option value="General Manager">General Manager</option>
                                    <option value="Sales Person">Sales Person</option>
                                </select>
								</div>
						</div> -->
						<label class="col-sm-3 control-label" style="text-align: right;">Photo </label>
                   <!-- <input class="form-control" type="file" style="margin-left: 29%;width: 42%;" accept="image/*" name="logoFile" ng-file-select="onLogoFileSelect($files)" required=""> -->
                   <p><!-- <label>&{field.name}</label> --><!-- <span id="preview"> --></span>
 	               <input class="form-control" type="file" id="file" style="margin-left: 29%;width: 42%;" accept="image/*" ng-file-select="onLogoFileSelect($files)">
                   <span id="preview" style="margin-top: 20px;width: 108px;margin-left: 23px;"><img style="width: 100px;margin-left: 142px;margin-top: 20px;" src={{img}}></span>
                  </p>
                   
				</div>
				
				</div>
                </div>
               <div class="modal-footer">
               		<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-embossed">Create Manager</button>
                </div>
               </form>
            </div>
        </div> 
    </div>
  
  <button id="editUserModal" data-toggle="modal" data-target="#modal-edit" style="display: none;"></button>
   <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 1295px;">
            <div class="modal-content">
            <form name="locationFrm" ng-submit="updateImage()">
                <div class="modal-header">
                    <button type="button" class="close" id = "btnClose1" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    
                </div>
                
                <div class="modal-body">
                    <div class="form-group col-sm-12">
                          
                    <div class="form-group col-sm-6">
              
                    <h4 class="modal-title"><strong>Update Location</strong></h4>
                   		<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Location *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.locationName"  required>
								</div>
						</div>
						
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Email *</label>
								<div class="col-sm-6">
									<input id="locationEmail" class="form-control form-white" type="email" ng-model="user.locationemail" ng-blur="checkEmail('create')"  required>
								</div>
						</div>
						<p style="color:red;"><b>{{emailMsg}}</b></p>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Phone *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.locationphone"  required>
								</div>
						</div>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Address *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.locationaddress"  required>
								</div>
						</div>
						
						<label class="col-sm-3 control-label" style="text-align: right;">Location Photo </label>
                   <p>
 	               <input class="form-control" type="file" id="file" style="margin-left: 29%;width: 42%;" accept="image/*" ng-file-select="onLogoFileLocationSelect($files)">
                   <span id="preview" style="margin-top: 20px;width: 108px;margin-left: 23px;"><img style="width: 100px;margin-left: 142px;margin-top: 20px;" src={{imgLocation}}></span>
                  </p>
                   
				</div>
				<div class="form-group col-sm-6">
				<h4 class="modal-title"><strong>Update Manager</strong></h4>
                   		<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">First Name *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.firstName"  required>
								</div>
						</div>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Last Name *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.lastName"  required>
								</div>
						</div>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Email *</label>
								<div class="col-sm-6">
									<input id="userEmail" class="form-control form-white" type="email" ng-model="user.email" ng-blur="checkEmail('create')"  required>
								</div>
						</div>
						<p style="color:red;"><b>{{emailMsg}}</b></p>
						<div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Phone *</label>
								<div class="col-sm-6">
									<input class="form-control form-white" type="text" ng-model="user.phone"  required>
								</div>
						</div>
						<!-- <div class="form-group col-sm-12">
							<label class="col-sm-3 control-label" style="text-align: right;">Role *</label>
								<div class="col-sm-6">
									<select class="form-control form-white" id="userType" ng-model="user.userType" required>
                                    <option value="">Select</option>
                                    <option value="General Manager">General Manager</option>
                                    <option value="Sales Person">Sales Person</option>
                                </select>
								</div>
						</div> -->
						<label class="col-sm-3 control-label" style="text-align: right;">Photo </label>
                   <!-- <input class="form-control" type="file" style="margin-left: 29%;width: 42%;" accept="image/*" name="logoFile" ng-file-select="onLogoFileSelect($files)" required=""> -->
                   <p><!-- <label>&{field.name}</label> --><!-- <span id="preview"> --></span>
 	               <input class="form-control" type="file" id="file" style="margin-left: 29%;width: 42%;" accept="image/*" ng-file-select="onLogoFileSelect($files)">
                   <span id="preview" style="margin-top: 20px;width: 108px;margin-left: 23px;"><img style="width: 100px;margin-left: 142px;margin-top: 20px;" src={{img}}></span>
                  </p>
                   
				</div>
				
				</div>
                </div>
               <div class="modal-footer">
               		<button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary btn-embossed">Update</button>
                </div>
               </form>
            </div>
        </div>
    </div>
  
  <div style="display:none;" id="deactiveLocation" data-toggle="modal" data-target="#modal-deactive"></div>
<div class="modal fade" id="modal-deactive" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="deleteClose" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    <h4 class="modal-title"><strong>Deactive Location</strong></h4>
                </div>
                <div class="modal-body">
                   Are you sure to deactive location?<br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal" ng-click="deactiveLocationById()">Yes</button>
                </div>
            </div>
        </div>
    </div>
  
  
<style>
.red { color: black;  background-color: #ffd3d3 !important; }

.nav-tabs > li > a::before {
	height: 0px;
}
.tab-content {
    background-color: #F1F1F1;
    border-top: 0px;
}
.nav.nav-tabs > li.active > a {
	background-color: #F1F1F1;
}

</style>	

<script>
var _URL = window.URL || window.webkitURL;
function displayPreview(files) {
  var file = files[0]
  var img = new Image();
  var sizeKB = file.size / 1024;
   img.onload = function() {
	   console.log("image");
     $('#preview').append(img);
     alert("Size: " + sizeKB + "KB\nWidth: " + img.width + "\nHeight: " + img.height);
  } 
  img.src = _URL.createObjectURL(file);
}
#{field 'user.ImageName'}
</script>