 <div ng-init = goTocars();>
    
    <div class="col-sm-12">
    	<div class="col-sm-6">
    		<h2><b>View Client</b></h2>
    	</div>	
    
   
</div>
 <tabset class="nav-tabs2">
                                <tab style="width:90px;">
                                    <tab-heading>
                                        <button type="button" style="width:60px; padding:0px;" class="btn btn-blue" ng-click="goTocars()" >Cars</button>
                                       
                                    </tab-heading>
								    
    							</tab>
    				 			<tab style="width:132px;">
                                    <tab-heading>
                                        <button type="button" id="motorBtn" style="width:107px; padding:0px;" class="btn btn-blue" ng-click="goToMotorcycles()">Motorcycles</button>
                                    </tab-heading>
                               </tab >   
                               <tab style="width:90px;">
                                    <tab-heading>
                                        <button type="button" style="width:62px; padding:0px;" class="btn btn-blue" ng-click="goToBoat()">Boat</button>
                                    </tab-heading>
                               </tab> 
                                <tab style="width:118px;">
                                    <tab-heading>
                                        <button type="button" style="width:90px; padding:0px;" class="btn btn-blue" ng-click="goToAirplanes()">Airplanes</button>
                                    </tab-heading>
								    
    							</tab>
    							<tab style="width:179px;">
                                    <tab-heading>
                                        <button type="button" id="furnitureBtn" style="width:150px; padding:0px;" class="btn btn-blue" ng-click="goToDesignerFurniture()">Designer Furniture</button>
                                    </tab-heading>
                               </tab>   
                               <tab style="width:129px;">
                                    <tab-heading>
                                        <button type="button" style="width:100px; padding:0px;" class="btn btn-blue" ng-click="goToRealState()">Real Estate</button>
                                    </tab-heading>
                               </tab>   
                               <tab style="width:164px;">
                                    <tab-heading>
                                        <button type="button" style="width:135px; padding:0px;" class="btn btn-blue" ng-click="goToServiceProvider()">Service Provider</button>
                                    </tab-heading>
								    
    							</tab>
    							<tab style="width:164px;">
                                    <tab-heading>
                                        <button type="button" id="luxuryBtn" style="width:135px; padding:0px;" class="btn btn-blue" ng-click="goToLuxuryProducts()" style="text-align:center">Luxury Products</button>
                                    </tab-heading>
                               </tab>    
     </tabset>	
	<div  ng-if="doPublic == 0"><div ui-grid="gridOptions" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div></div>
	
	<div  ng-if="doPublic == 1"><div ui-grid="gridOptions1" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div></div>
	
	<div  ng-if="doPublic == 2"><div ui-grid="gridOptions2" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div></div>
	
	<div  ng-if="doPublic == 3"><div ui-grid="gridOptions3" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div></div>
	
	<div  ng-if="doPublic == 4"><div ui-grid="gridOptions4" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div></div>
	
	
	<div  ng-if="doPublic == 5"><div ui-grid="gridOptions5" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div></div>
	
	<div  ng-if="doPublic == 6"><div ui-grid="gridOptions6" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div></div>
	
	
	<div  ng-if="doPublic == 7"><div ui-grid="gridOptions7" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div></div>
   
    	 <div ng-if="doShow == 0" ui-grid="gridOptions" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div>        
        <!-- <div ng-if="doShow == 1" ui-grid="gridOptions1" style="height:500px;" ui-grid-edit ui-grid-pagination>
	</div> -->
	    
	             
</div>   

<!-- <button id="btnStatusSchedule" data-toggle="modal" data-target="#vehicalStatusModal" style="display: none;"></button> --> 

 <div style="display:none;" id="editPopup" data-toggle="modal" data-target="#editPopups"></div>
<div class="modal fade" id="editPopups" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    <h4 class="modal-title"><strong>Register</strong></h4>
                </div>
			<div class="modal-body">
				<form ng-submit="UpdateRegisterUser()">
					<div class="col-md-12">
						<input type="radio" class="col-md-1" name="location"
							ng-model="register.oneLocation" value="one"><label
							class="col-md-4">One Location</label> <input type="radio"
							class="col-md-1" name="location" ng-model="register.oneLocation"
							value="multi"> <label class="col-md-4">Multiple
							Location</label>
					</div>
					<div class="col-md-12 form-group">
						<div class="col-md-4">
							<label>Options</label>
						</div>
						<div class="col-md-6">
							<select class="form-control form-white"
								ng-model="register.options" required>
								<option value="">Select</option>
								<option value="Cars">Cars</option>
								<option value="Motorcycles">Motorcycles</option>
								<option value="Boat">Boat</option>
								<option value="Airplanes">Airplanes</option>
								<option value="DesignerFurniture">Designer Furniture</option>
								<option value="RealEstate">Real Estate</option>
								<option value="ServicesProvider">Services Provider</option>
								<option value="LuxuryProducts">Luxury Products</option>
							</select>
						</div>
					</div>
					<div class="col-md-12 form-group">
						<div class="col-md-4">
							<label> Business Name</label>
						</div>
						<div class="col-md-6">
							<input type="text" name="name" class="form-control"
								ng-model="register.businessName" id="userName" placeholder="Business Name"
								required />
						</div>
					</div>
					<div class="col-md-12 form-group">
						<div class="col-md-4">
							<label>Website</label>
						</div>
						<div class="col-md-6">
							<input type="email" class="form-control"
								ng-model="register.website" 
								placeholder="website" required />
						</div>
					</div>
					<div class="col-md-12 form-group">
						<div class="col-md-4">
							<label class="control-label">Client Since</label>
						</div>
						<div class="col-md-6">
							<input type="text" ng-model="clientSince" class="form-control"
								placeholder="Client Since" required />
						</div>
					</div>
					<div class="col-md-12 form-group">
						<div class="col-md-4">
							<label>Last Time Logged In</label>
						</div>
						<div class="col-md-6">
							<input type="text" ng-model="register.lastTimeLogged"
								class="form-control" placeholder="Last Time" required />
						</div>
					</div>
					<div class="col-md-12 form-group">
						<div class="col-md-4">
							<label>Active Users</label>
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control"
								ng-model="register.activeUsers"
								placeholder="Active Users" required />
						</div>
					</div>
					<input type="submit" class="btn btn-primary btn-embossed"
						value="submit">

				</form>
			</div>

		</div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary btn-embossed" data-dismiss="modal" ng-click="deleteVehicleRow()">Yes</button>
                </div> -->
            </div>
        </div>
    </div> 
  								    
	<div class="modal fade" id="imagePopup" tabindex="-1" role="dialog" aria-hidden="true" style="text-align:right; margin-top:20%;height:200px; overflow: hidden; margin-left:30%;width:250px;">
  		<div class="modal-dialog" style=" width: 250px;padding-right: 0 !important;    margin: 0;">
  			 <div class="modal-header" style="display:none;">
				<button type="button" class="close" id="imgClose" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
       		</div>
  			<div id="img" style="height:200px; width: 250px;"> 
				<img id="thumb_image"src="" style="height:200px; width:250px;" />
			</div>
  		</div>	
  </div>								    
    
<style>
.red { color: black;  background-color: #ffd3d3 !important; }
.green {color: red;background-color:yellow !important;}
</style>     