<div ng-init="init()">
<tabset class="nav-tabs2" >
        <tab>
            <tab-heading>
            	<button type="button" id="sliderBtn" class="btn btn-blue" ng-click="uploadSliderImages()">Slider Images</button>
            </tab-heading>
            <div class="row" style="margin-bottom: 3%;">
            <div gridster="gridsterOpts1">
            <ul style="list-style:none;">
				                    		<li gridster-item="image" id="{{image.id}}" data-row="{{image.row}}" data-col="{{image.col}}"
				                    		data-sizex="1" data-sizey="1"
				                    		id="{{image.id}}"   ng-repeat="image in sliderList" style="float:left;">
				                    		 	<div class="imageGroup" style="margin-left:5%;margin-top:5%;">
				                        			<img class="myImage" style="width:100%; height:100%;" src="/getSliderImage/{{image.id}}/thumbnail" id="imgId{{$index}}" />
				                            		
				                            		<div>
				                            			<a class="remImage" ng-click="deleteSliderImage(image)" style="color:#319DB5;"><i class="btn fa fa-times" style="height:1px;width:1px;"></i></a>
				                            		</div>
				                            		<a class="remImage2" ng-click="showFullSliderImage(image)" data-toggle="modal" data-target="#modal-image" style="cursor:pointer;"><i class="glyphicon glyphicon-zoom-in" style="height:1px;width:1px;"></i></a>
				                        			<a class="remImage3" ng-click="editSliderImage(image)" style="cursor:pointer;color:#319DB5;"><b>Edit</b></a>
				                        		</div>
				                        	</li>
				                        </ul>
				</div>                        
			</div>	 
			<br><br><br>    
			<div>                   
            <h1>Upload SliderImages</h1>
			<p><b>Minimum image dimension should be {{configList[0].width}} X {{configList[0].height}}</b></p>
					<form id="dropzoneFrm2" action="/uploadSliderPhotos" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>
             </div>       
                 
 					<button class="btn btn-primary" ng-click="uploadFiles()" style="margin-left:44%;margin-top:3%;">Upload</button>   
        </tab>
        <tab>
            <tab-heading>
            	<button type="button" class="btn btn-blue" ng-click="uploadFeaturedImages()">Featured Images</button>
            </tab-heading>
            <div class="row" style="margin-bottom: 3%;">
            <div gridster="gridsterOpts2">
            <ul style="list-style:none;">
				                    		<li gridster-item="image" id="{{image.id}}" data-row="{{image.row}}" data-col="{{image.col}}" data-sizex="1" data-sizey="1"
				                    		id="{{image.id}}"   ng-repeat="image in featuredList" style="float:left;">
				                    		 	<div class="imageGroup" style="margin-left:5%;margin-top:5%;">
				                        			<img class="myImage" style="width:100%; height:100%;" src="/getFeaturedImage/{{image.id}}/thumbnail" id="imgId{{$index}}" />
				                            		
				                            		<div>
				                            			<a class="remImage" ng-click="deleteFeaturedImage(image)" style="color:#319DB5;"><i class="btn fa fa-times" style="height:1px;width:1px;"></i></a>
				                            		</div>
				                            		<a class="remImage2" ng-click="showFullFeaturedImage(image)" data-toggle="modal" data-target="#modal-image2" style="cursor:pointer;"><i class="glyphicon glyphicon-zoom-in" style="height:1px;width:1px;"></i></a>
				                        			<a class="remImage3" ng-click="editFeaturedImage(image)" style="cursor:pointer;color:#319DB5;"><b>Edit</b></a>
				                        		</div>
				                        	</li>
				                        </ul>
				</div>                        
			</div>	
			<h1>Upload Featured Images</h1>
			<p><b>Minimum image dimension should be {{configList[1].width}} X {{configList[1].height}}</b></p>
            <form id="dropzoneFrm3" action="/uploadFeaturedPhotos" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>
 					<button class="btn btn-primary" ng-click="uploadFeaturedFiles()" style="margin-left:44%;margin-top:3%;">Upload</button>   
        </tab>
        <tab>
            <tab-heading>
            	<button type="button" id="sliderBtn" class="btn btn-blue">Site's slogan</button>
            </tab-heading>
            <form ng-submit="saveSiteHeading(siteHeading)" style="margin-top:5%;">
            <div class="form-group col-sm-12">
				<label class="col-sm-2 control-label" style="text-align: right;">Heading </label>
				<div class="col-sm-6">
					<input class="form-control form-white" type="text" ng-model="siteHeading" placeholder="" required>
				</div>
			</div>
			
			<button type="submit" class="btn btn-primary" style="margin-top:3%;margin-left:20%;">Save</button>
			</form>
       </tab> 
       <tab>
            <tab-heading>
            	<button type="button" id="sliderBtn" class="btn btn-blue">Site Description</button>
            </tab-heading>
            <form ng-submit="saveSiteDescription()" style="margin-top:5%;">
            <div class="form-group col-sm-12">
				<label class="col-sm-2 control-label" style="text-align: right;">Heading </label>
				<div class="col-sm-6">
					<input class="form-control form-white" type="text" ng-model="siteDescription.descHeading" placeholder="" required>
				</div>
			</div>
			<div class="form-group col-sm-12" style="margin-top:3%;">
				<label class="col-sm-2 control-label" style="text-align: right;">Description </label>
				<div class="col-sm-6">
					<textarea class="form-control form-white" type="text" ng-model="siteDescription.description" placeholder="" rows="12" required></textarea>
				</div>
			</div>
			<button type="submit" class="btn btn-primary" style="margin-top:3%;margin-left:20%;">Save</button>
			</form>
            
       </tab>    
       <tab>
            <tab-heading>
            	<button type="button" id="sliderBtn" class="btn btn-blue" ng-click="getLogoData()">Logo & Favicon</button>
            </tab-heading>
            <div class="form-group col-sm-12" style="margin-top:3%;">
				<label class="col-sm-2 control-label">Logo Image:</label>
				<div class="col-sm-6">
					<form ng-submit="saveLogoImage()">
					<label class="col-sm-6 control-label">{{logoName}}</label>
					<input class="form-control" type="file" style="margin-top:10%;" accept="image/*" name="logoFile" ng-file-select="onLogoFileSelect($files)" required>
					<input type="submit" class="btn btn-primary" value="Upload" style="margin-top:5%;margin-left:3%;">
					</form>
				</div>
			</div>
			<div class="form-group col-sm-12" style="margin-top:3%;">
				<label class="col-sm-2 control-label">Fevicon Image:</label>
				<div class="col-sm-6">
					<form ng-submit="saveFeviconImage()">
					<label class="col-sm-6 control-label">{{feviconName}}</label>
					<input class="form-control" type="file" style="margin-top:10%;" accept="image/*" name="feviconFile" ng-file-select="onFeviconFileSelect($files)" required>
					<input type="submit" class="btn btn-primary" value="Upload" style="margin-top:5%;margin-left:3%;">
					</form>
				</div>
			</div>
			
			<div class="form-group col-sm-12" style="margin-top:3%;">
				<form ng-submit="saveTabText(tabText)">
				<label class="col-sm-2 control-label" style="text-align: right;">Browser's tab text </label>
				<div class="col-sm-6">
					<input type="text" ng-model="tabText" class="form-control form-white" required>
					<input type="submit" class="btn btn-primary" value="Save" style="margin-top:5%;margin-left:3%;">
				</div>
				</form>
			</div>
       </tab>      
</tabset>     
</div>    

										<div class="modal fade modal-image" id="modal-image" tabindex="-1" role="dialog" aria-hidden="true">
									        <div class="modal-dialog">
									            <div class="modal-content">
									                <div class="modal-header">
									                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
									                </div>
									                <div class="modal-body">
									                    <img src="/getSliderImage/{{sliderImgId}}/full" alt="picture 1" class="img-responsive">
									                </div>
									                <div class="modal-footer">
									                    <p>{{sliderImgName}}</p>
									                </div>
									            </div>
									        </div>
									    </div>  
									    
									    <div class="modal fade modal-image" id="modal-image2" tabindex="-1" role="dialog" aria-hidden="true">
									        <div class="modal-dialog">
									            <div class="modal-content">
									                <div class="modal-header">
									                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
									                </div>
									                <div class="modal-body">
									                    <img src="/getFeaturedImage/{{featuredImgId}}/full" alt="picture 1" class="img-responsive">
									                </div>
									                <div class="modal-footer">
									                    <p>{{featuredImgName}}</p>
									                </div>
									            </div>
									        </div>
									    </div> 
									    
									    <button id="btnMsg" data-toggle="modal" data-target="#modal-basic" style="display: none;"></button>
									    <button id="btnFeaturedMsg" data-toggle="modal" data-target="#modal-basic2" style="display: none;"></button>
									    
									    <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title"><strong>Max limit</strong> exceeded</h4>
								                </div>
								                <div class="modal-body">
								                    Only 3 slider images can be uploaded<br>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
								                </div>
								            </div>
								        </div>
								    </div>
								    
								    <div class="modal fade" id="modal-basic2" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title"><strong>Max limit</strong> exceeded</h4>
								                </div>
								                <div class="modal-body">
								                    Only 3 featured images can be uploaded<br>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Close</button>
								                </div>
								            </div>
								        </div>
								    </div>
								    
<p style="display: none;">{{uploadSliderImages()}}</p>
<style>
.remImage{
opacity:0;
top:0;
right:-15px;
position:absolute;
}


.remImage2{
opacity:0;
top:80px;
left:123px;
position:absolute;
}

.remImage3{
opacity:0;
top:80px;
left:10px;
position:absolute;
}

.imageGroup{
position:relative;
float:left;
}
.imageGroup:hover .remImage{
opacity:1;
}
.imageGroup:hover .remImage2{
opacity:1;
}
.imageGroup:hover .remImage3{
opacity:1;
}
.imageGroup:hover .myImage{
opacity:0.2;
}

</style>

 