<div ng-init="init()">
  <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
    <ul id="myTabs" class="nav nav-tabs" role="tablist">
      <li role="presentation" class=""><a role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"><button type="button" class="btn btn-blue" ng-click="goToSlider()">Slider Images</button></a></li>
      <li role="presentation" class=""><a id="home-tab" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToFeatured()">Featured Images</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToSlogan()">Site's slogan</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToDesc()">Site Description</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToLogo()">Logo & Favicon</button></a></li>
      <li role="presentation" class="active"><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToTestiMonials()">Testimonials</button></a></li>
      <li role="presentation" class=""><a role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="false"><button type="button" class="btn btn-blue" ng-click="goToAboutUs()">About Us</button></a></li>
    </ul>
	    <div id="myTabContent" class="tab-content">
	      <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
	        	
	        	<form ng-submit="saveSiteTestimonials()" style="margin-top:5%;">
	        <div class="form-group col-sm-12">
				<label class="col-sm-6" style="text-align: center;font-size: 18px;"><b>Testimonials </b></label>
			
				<label class="col-sm-6" style="text-align: center;font-size: 18px;"><b>Signature</b></label>
			
			</div>
            <div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">1. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial1" placeholder="" required>
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature1" placeholder="" required>
				</div>
			</div>
			<div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">2. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial2" placeholder="">
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature2" placeholder="">
				</div>
			</div>
			<div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">3. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial3" placeholder="">
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature3" placeholder="">
				</div>
			</div>
			<div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">4. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial4" placeholder="">
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature4" placeholder="">
				</div>
			</div>
			<div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">5. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial5" placeholder="">
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature5" placeholder="">
				</div>
			</div>
			<div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">6. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial6" placeholder="">
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature6" placeholder="">
				</div>
			</div>
			<div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">7. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial7" placeholder="">
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature7" placeholder="">
				</div>
			</div>
			<div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">8. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial8" placeholder="">
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature8" placeholder="">
				</div>
			</div>
			<div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">9. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial9" placeholder="">
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature9" placeholder="">
				</div>
			</div>
			<div class="form-group col-sm-12">
           	    <label class="col-sm-1" style="text-align: right;padding: 0px;">10. </label>
				<div class="col-sm-7">
					<input class="form-control form-white" type="text" ng-model="testiMonial.testiMonial10" placeholder="">
				</div>
				<div class="col-sm-3">
					<input class="form-control form-white" type="text" ng-model="testiMonial.signature10" placeholder="">
				</div>
			</div>
			
			<button type="submit" class="btn btn-primary" style="margin-top:3%;margin-left:20%;">Save</button>
			</form>
	      </div>
	      
	    </div>
  </div>
</div>  


<style>
.red { color: black;  background-color: #ffd3d3 !important; }

.nav-tabs > li > a::before {
	height: 0px;
}
.tab-content {
    background-color: #F1F1F1;
    border-top: 0px;
}
.nav.nav-tabs > li.active > a {
	background-color: #F1F1F1;
}
</style>