<div ng-init = viewVehiclesInit();>
    
    <h2><b>View Vehicles</b></h2>
   <!--  <div>
    <div style="margin-left:57%;float:left;"><button class="btn btn-primary" ng-click="exportDataAsCSV()">AutoTrader csv</button></div>
	<div style="float:left;"><button class="btn btn-primary" ng-click="exportCarfaxCSV()">Carfax csv</button></div>    
	<div style="margin-left:3%;"><button class="btn btn-primary" ng-click="exportCarGurusCSV()">CarGurus csv</button></div>
    </div> -->
    <tabset class="nav-tabs2">
                                <tab>
                                    <tab-heading>
                                        <button type="button" class="btn btn-blue" ng-click="newlyArrivedTab()">Current Inventory</button>
                                    </tab-heading>
								    
    							</tab>
    							<tab>
                                    <tab-heading>
                                        <button type="button" id="soldBtn" class="btn btn-blue" ng-click="soldTab()">Sold</button>
                                    </tab-heading>
                               </tab>     
     </tabset>         
     <div ui-grid="gridOptions" style="height:500px;" ui-grid-edit ui-grid-pagination ui-grid-cellNav>
	</div>                 
</div>   

<button id="btnStatusSchedule" data-toggle="modal" data-target="#vehicalStatusModal" style="display: none;"></button>

<div style="display:none;" id="deleteModal" data-toggle="modal" data-target="#modal-basic"></div>
<div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    <h4 class="modal-title"><strong>Delete Vehicle</strong></h4>
                </div>
                <div class="modal-body">
                   Are you sure to delete vehicle?<br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary btn-embossed" data-dismiss="modal" ng-click="deleteVehicleRow()">Yes</button>
                </div>
            </div>
        </div>
    </div> 
    <div class="modal fade" id="vehicalStatusModal" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title">Sold Vehical</h4>
								                </div>
								                <form ng-submit="saveVehicalStatus()">
								                <div class="modal-body" style="height:410px;overflow-x:auto;">
								                   <div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Name</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="soldContact.name" required>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Email</label>
														<div class="col-sm-7">
															<input type="email" class="form-control form-white" ng-model="soldContact.email" required>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Phone</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="soldContact.phone" required>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Gender</label>
														<div class="col-sm-7">
															<select class="form-control form-white" ng-model="soldContact.gender" required>
																<option value="">Select</option>
																<option value="Male">Male</option>
																<option value="Female">Female</option>
															</select>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Age</label>
														<div class="col-sm-7">
															<select class="form-control form-white" ng-model="soldContact.age" required>
																<option value="">Select</option>
																<option value="16-20">16-20</option>
																<option value="21-24">21-24</option>
																<option value="25-39">25-39</option>
																<option value="40-59">40-59</option>
																<option value="60+">60+</option>
															</select>
														</div>
													</div>
														<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Zip Code</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="soldContact.custZipCode" required>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Enthicity</label>
														<div class="col-sm-7">
															<select class="form-control form-white" ng-model="soldContact.enthicity" required>
																<option value="">Select</option>
																<option value="White">White</option>
																<option value="Hispanic or Latino">Hispanic or Latino</option>
																<option value="Black or African American">Black or African American</option>
																<option value="Native American or American Indian">Native American or American Indian</option>
																<option value="Asian / Pacific Islander">Asian / Pacific Islander</option>
																<option value="Other">Other</option>
															</select>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Buying for</label>
														<div class="col-sm-7">
															<select class="form-control form-white" ng-model="soldContact.buyingFor">
																<option value="Myself">Myself</option>
																<option value="Spouse">Spouse</option>
																<option value="Child">Child</option>
																<option value="Other Relative">Other Relative</option>
															</select>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">How contacted us</label>
														<div class="col-sm-7">
															<select class="form-control form-white" ng-model="soldContact.howContactedUs" required>
																<option value="">Select</option>
																<option value="Phone">Phone</option>
																<option value="Walk In">Walk In</option>
																<option value="Email">Email</option>
																<option value="Facebool">Facebook</option>
																<option value="Online">Online</option>
															</select>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">How found us</label>
														<div class="col-sm-7">
															<select class="form-control form-white" ng-model="soldContact.howFoundUs" required>
																<option value="">Select</option>
																<option value="Google Search">Google Search</option>
																<option value="Yahoo Search">Yahoo Search</option>
																<option value="Bing Search">Bing Search</option>
																<option value="Google Maps">Google Maps</option>
																<option value="Google Maps Search">Google Maps Search</option>
																<option value="Facebook">Facebook</option>
																<option value="Google Plus">Google Plus</option>
																<option value="Twitter">Twitter</option>
																<option value="Word of the mouth">Word of the mouth</option>
																<option value="Returning Client">Returning Client</option>
																<option value="Yelp">Yelp</option>
																<option value="Cars.com">Cars.com</option>
																<option value="AutoGuru">AutoGuru</option>
																<option value="AutoTrader">AutoTrader</option>
																<option value="Kelly Blue Book">Kelly Blue Book</option>
																<option value="Craigslist">Craigslist</option>
															</select>
														</div>
													</div>
													
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Request has been initiated</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="soldContact.typeOfLead" required>
														</div>
													</div>
													
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Make</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="soldContact.make" required>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Year</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="soldContact.year" required>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Mileage</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="soldContact.mileage" required>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Price</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="soldContact.price" required>
														</div>
													</div>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
								                    <button type="submit" class="btn btn-primary btn-embossed">Sold</button>
								                </div>
								                </form>
								            </div>
								        </div>
								    </div>
								    
					<div style="display:none;" id="vehicleHistory" data-toggle="modal" data-target="#modal-vehicleHistory"></div>
					<div class="modal fade" id="modal-vehicleHistory" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" id="noteClose" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title">Vehicle History</h4>
								                </div>
								                <div class="modal-body">
								                    <div class="form-group col-sm-12">
								                    	<table class="table">
								                    		<tr>
									                    		<td>Note</td>
									                    		<td>Action</td>
									                    		<td>Date</td>
									                    		<td>Time</td>
								                    		</tr>
								                    		<tr ng-repeat="noteStatus in vehicleHistory">
									                    		<td>{{noteStatus.note}}</td>
									                    		<td>{{noteStatus.action}}</td>
									                    		<td>{{noteStatus.createdDate}}</td>
									                    		<td>{{noteStatus.createdTime}}</td>
								                    		</tr>
								                    	</table>
								                    </div>
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
								                </div>
								            </div>
								        </div>
								    </div>								    
								    
								    
	<div class="modal fade" id="imagePopup" tabindex="-1" role="dialog" aria-hidden="true" style="text-align:right; margin-top:20%;height:200px; overflow: hidden; margin-left:30%;width:250px;">
  		<div class="modal-dialog" style=" width: 250px;padding-right: 0 !important;    margin: 0;">
  			 <div class="modal-header" style="display:none;">
				<button type="button" class="close" id="imgClose" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
       		</div>
  			<div id="img" style="height:200px; width: 250px;"> 
				<img id="thumb_image"src="" style="height:200px; width:250px;" />
			</div>
  		</div>	
  </div>								    
    
<style>
.green {color: red;background-color:yellow !important;}
</style>    