
<h1><b>Add Vehicle</b></h1>
<h2><b>Your vehicle information</b></h2>
<h4><b>Enter your 17 digit vin in the form below and click decode.</b></h4>


<div class="form-group" ng-init="vehicleInit()">
	<div class="col-sm-3">
		<input class="form-control form-white" type="text" ng-model="vinNumber" placeholder="Enter Vin">
	</div>
	<button class="btn btn-primary" ng-click="getVinData()">Decode!</button>
</div>
<hr>
<form>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Category</label>
	<div class="col-sm-5">
		<input class="form-control form-white" type="text" ng-model="vinData.specification.category" placeholder="Cars and Trucks">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">VIN</label>
	<div class="col-sm-5">
		<input class="form-control form-white" type="text" ng-model="vinData.specification.vin" placeholder="VIN Number">
	</div>
	<div class="col-sm-6" style="margin-left:17%;">
		<p>A valid vin is 17 digits and cannot contain the letters I,O or Q</p>
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Year</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.year" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Make</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.make" type="text">
	</div>
</div>

<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Model</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.model" type="text">
		<p>745i,Accord,Sierra</p>
	</div>
</div>

<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Trim</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.trim_level" type="text">
		<p>EX,LX,DX</p>
	</div>
</div>

<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Label</label>
	<div class="col-sm-5">
		<input class="form-control form-white" type="text" ng-model="vinData.specification.label" placeholder="Runs Great,Clean History">
		<p>For the Craiglist Title,All fields above and color are already included</p>
	</div>
</div>

<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Stock</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.stock" type="text">
	</div>
</div>

<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Mileage</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.mileage" type="text">
	</div>
</div>

<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Cost</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.cost" type="text" placeholder="$">
		<p>Not Required,Numbers only,Internal Use Only,Not Displayed to Customer</p>
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Price</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.price" type="text" placeholder="$">
		<p>Numbers only,Enter 0 to display "Call"</p>
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Exterior Color</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.extColor" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Interior Color</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.intColor" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Color Description</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.colorDesc" type="text" placeholder="$">
		<p>Specific exterior color name,but not required</p>
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Doors</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.doors" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Stereo</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.stereo" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Engine</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.engine" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Fuel</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.tank_size" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">MPG</label>
	<div class="col-sm-2">
		<input class="form-control form-white" type="text" ng-model="vinData.specification.city_mileage" placeholder="City">
	</div>
	<div class="col-sm-2">
		<input class="form-control form-white" type="text" ng-model="vinData.specification.highway_mileage" placeholder="Hwy">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Body Style</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.style" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Drivetrain</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.drivetrain" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Transmission</label>
	<div class="col-sm-5">
		<input class="form-control form-white" ng-model="vinData.specification.transmission" type="text">
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Standard Features</label>
	<div class="col-sm-5">
		<textarea class="form-control form-white" ng-model="vinData.specification.standardFeatures1" rows="12"></textarea>
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Standard Features</label>
	<div class="col-sm-5">
		<textarea class="form-control form-white" ng-model="vinData.specification.standardFeatures2" rows="12"></textarea>
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Description</label>
	<div class="col-sm-5">
		<textarea class="form-control form-white" ng-model="vinData.specification.description" rows="12"></textarea>
	</div>
	<div class="col-sm-4">
		<p>Write a unique description for each car</p>
	</div>
</div>
<div class="form-group col-sm-12">
<label class="col-sm-2 control-label" style="text-align: right;">Post to:</label>
	<div class="col-sm-5">
	<div ng-repeat="site in siteList">
		<label class="">
          <div class="icheckbox_flat-blue"  style="position: relative;">
          <input type="checkbox"  ng-model="flag" ng-change="setSiteId(site.id,flag)">
          <input type="checkbox" data-checkbox="icheckbox_flat-blue" ng-model="flag" ng-change="setSiteId(site.id,flag)" style="position: absolute; opacity: 0;">
          <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
          </div> {{site.name}}
        </label>
	</div>
		
	</div>
</div>

<button class="btn btn-primary" style="margin-left:11%;" ng-click="saveVehicle()">Save!</button>
<button class="btn btn-primary" ng-click="addPhoto()">Save & Go To Photos</button>
</form>












