<html>
<head>
</head>
<body ng-init="init()">
<h4><b>Contacts</b></h4>
<form style="margin-left:50%;" ng-submit="saveContactsFile()">
	<input type="file" name="contactsFile" ng-file-select="onCsvFileSelect($files)" style="float:left;" required><button type="submit" class="btn btn-primary">Import Contacts</button>
</form>
<div>
<div ui-grid="gridOptions" style="height:500px;" ui-grid-edit ui-grid-pagination>
				</div>
</div>

</body>
</html>

<div class="modal fade" id="contactsModal" tabindex="-1" role="dialog" aria-hidden="true">
								        <div class="modal-dialog">
								            <div class="modal-content">
								                <div class="modal-header">
								                    <button type="button" class="close" id="driveClose" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
								                    <h4 class="modal-title">Edit contacts</h4>
								                </div>
								                 <form ng-submit="updateContacts()">
								                <div class="modal-body" style="height:407px;overflow-x:auto;">
								                    	<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Type</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.type" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Salutation</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.salutation" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">First Name</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.firstName" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Middle Name</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.middleName" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Last Name</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.lastName" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Suffix</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.suffix" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Company Name</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.companyName" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Email</label>
														<div class="col-sm-7">
															<input type="email" class="form-control form-white" ng-model="contactsDetails.email" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Phone</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.phone" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Street</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.street" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">City</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.city" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">State</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.state" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Zip</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.zip" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Country</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.country" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">All email</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.allEmail" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">All phone</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.allPhone" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Website</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.website" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">All addresses</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.allAddresses" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Title</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.title" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Birthday</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.birthday" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Background info</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.backgroundInfo" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Industry</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.industry" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Number of employees</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.numberOfEmployees" >
														</div>
													</div>
													
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Creation date</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.creationDate" >
														</div>
													</div>
													
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Last edited date</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.lastEditedDate" >
														</div>
													</div>
													
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Assigned to</label>
														<div class="col-sm-7">
															<input type="text" class="form-control form-white" ng-model="contactsDetails.assignedTo" >
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Campaign Source</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.campaignSource" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Priority</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.priority" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Groups</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.groups" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Relationships</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.relationships" ></textarea>
														</div>
													</div>
													<div class="form-group col-sm-12">
														<label class="col-sm-4 control-label" style="text-align: right;">Notes</label>
														<div class="col-sm-7">
															<textarea class="form-control form-white" ng-model="contactsDetails.notes" ></textarea>
														</div>
													</div>
													
													
								                </div>
								                <div class="modal-footer">
								                    <button type="button" class="btn btn-default btn-embossed" data-dismiss="modal">Cancel</button>
								                    <button type="submit" class="btn btn-primary btn-embossed">Update</button>
								                </div>
								                </form>
								            </div>
								        </div>
								    </div>